label#thumbnail-selector {
  margin-bottom: 20px;
  border: 1px dashed #ddd;
  border-radius: 4px;
  background-size: cover; 
  cursor: pointer;
  height: 160px;

  display: flex;
  justify-content: center;
  align-items: center;
}

label#thumbnail-selector input{
  display: none;
}

label#thumbnail-selector.has-thumbnail {
  border: 0;
}

label#thumbnail-selector.has-thumbnail img{
  display: none;
}